<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>604436481657-2gmvj8fhdhdoprcn3o9l6j5u6l6a56hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604436481657-2gmvj8fhdhdoprcn3o9l6j5u6l6a56hk</string>
	<key>API_KEY</key>
	<string>AIzaSyCcJ3m0GiAgZaq4RaGjPfyfluqwbS9mYdY</string>
	<key>GCM_SENDER_ID</key>
	<string>604436481657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.flutterNotes</string>
	<key>PROJECT_ID</key>
	<string>dart-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>dart-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604436481657:ios:642de0635ef93e0a</string>
	<key>DATABASE_URL</key>
	<string>https://dart-notes.firebaseio.com</string>
</dict>
</plist>